<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    {% render 'intelligems' %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZ8LNXPJ');</script>
<!-- End Google Tag Manager -->

    
    <meta name="facebook-domain-verification" content="duk3ewtlb9fbws1guzhurw6zk33q0p" />
	<meta name="msvalidate.01" content="C24FD4D4D55ACE4257818BCD4D8E05B8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    	<meta name="google-site-verification" content="HQrwuYvotjlUQYYh4xfWalh5eYoo--Pd3cI1Txxd5Qo" />
	<meta name="google-site-verification" content="EQr6dpIVfghukYZ0pE2ama-lqwtoY0OaYFyCrjXvcUI" />
	{%- if template.suffix == 'blank' -%}
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    {%- endif -%}

    {% liquid
      assign no_index = false
      assign collection_noindex = collection.metafields.custom.collection_noindex
     
      if collection_noindex
        assign no_index = true
      endif
    %}
    {% if no_index %}
      <meta name="robots" content="noindex, nofollow" />
      <meta name="googlebot" content="noindex, nofollow">
    {% endif %}
    
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% assign boost_pfs_is_init = false %}    
    {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
        {%- unless template contains 'boost-pfs-original' -%}
        {% assign boost_pfs_is_init = true %}
          {%- if request.page_type == 'collection' -%}
        <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/filter" />
        <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/filter" />
        {%- else -%}
        <link rel="preconnect" href="https://services.mybcapps.com/bc-sf-filter/search" />
        <link rel="dns-prefetch" href="https://services.mybcapps.com/bc-sf-filter/search" />
        {%- endif -%}
        <link rel="preload" href="{{ 'boost-pfs-vendor.js' | asset_url }}" as="script">
        <link rel="preload" href="{{ 'boost-pfs-core.js' | asset_url }}" as="script">
        <link rel="preload" href="{{ 'boost-pfs-filter.js' | asset_url }}" as="script">
        <link rel="preload" href="{{ 'boost-pfs-instant-search.js' | asset_url }}" as="script">
        <link rel="preload" as="style" href="{{ 'boost-pfs-general.css' | asset_url }}">    
        {%- endunless -%}
    {%- endif -%}    
    {%- unless boost_pfs_is_init -%}
        <link rel="preload" href="{{ 'boost-pfs-core-instant-search.js' | asset_url }}" as="script">    
        <link rel="preload" href="{{ 'boost-pfs-instant-search.js' | asset_url }}" as="script"> 
        <link rel="preload" as="style" href="{{ 'boost-pfs-instant-search.css' | asset_url }}">    
    {%- endunless -%}
    <link rel="preload" as="style" href="{{ 'boost-pfs-custom.css' | asset_url }}">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {% include 'criteo-tracking' %}

        <link rel="stylesheet" href="https://use.typekit.net/kov3shz.css">

	<script src='https://a.klaviyo.com/media/js/onsite/onsite.js' type="text/javascript"></script>
	<script type="text/javascript">
	    var klaviyo = klaviyo || [];
	    klaviyo.init({
	      account: 'Ji9Nqq',
		  list: 'K5gPDm',
	      platform: 'shopify'
	    });
	    klaviyo.enable('backinstock',{ 
	    trigger: {
	      product_page_text: 'Join the waitlist',
	      product_page_class: 'btn',
	      product_page_text_align: 'center',
	      product_page_margin: '0px',
	      replace_anchor: false
	    },
	    modal: {
	     headline: '{product_name}',
	     body_content: "We’ll send you a helpful heads up when it’s time to hustle back here and grab one (or&nbsp;two).",
	     button_label: "CAN’T WAIT ->",
		 subscription_success_label: "BRB. Making more underthings for you.&nbsp;&nbsp;&nbsp;",
	     footer_content: '',
	     additional_styles: "@import url({{ 'theme.scss.css' | asset_url }});",
	     drop_background_color: '#000',
	     background_color: '#fff',
	     text_color: '#222',
	     button_text_color: '#fff',
	     button_background_color: '#000',
	     close_button_color: '#ccc',
	     error_background_color: '#fcd6d7',
	     error_text_color: '#C72E2F',
	     success_background_color: '#fff',
	     success_text_color: '#000'
	    }
	  });
	</script>
	
	

	
	<script type="text/javascript">(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56012510"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>







 

    {{ 'slick.css' | asset_url | stylesheet_tag }}
    <!-- okendo -->
    {% render 'okendo-reviews-json-ld' %}

  
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery-ui.min.js' | asset_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="{{ 'jquery.sticky.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {% if template contains 'product' %}
		<script defer src="{{ 'jquery.zoom.min.js' | asset_url }}" type="text/javascript"></script>
    {% endif %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      
      @font-face{

        font-family: "nimbus-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
              }
      @font-face {
        font-family: 'icons';
        src: url('{{ "icons.eot" | asset_url }}');
        src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
          url('{{ "icons.woff" | asset_url }}') format("woff"),
          url('{{ "icons.ttf" | asset_url }}') format("truetype"),
          url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      };
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
      {% unless settings.show_black_friday_faq %}
        #negative-faq-our-frequently-asked-questions #bf-update{
          display: none;
        }
      {% endunless %}
      
      {%- if shop.metaobjects.special_color_swatch.values_count > 0 -%}
        {%- paginate shop.metaobjects.special_color_swatch.values by 500 -%}
          {%- for special_color_swatch in shop.metaobjects.special_color_swatch.values -%}
            {%- if special_color_swatch.products.value -%}
              {%- paginate shop.metaobjects.special_color_swatch.values by 500 -%}
                {%- for product_special in special_color_swatch.products.value -%}
                  [title="{{ product_special.title }}"] .swatch.product-{{ special_color_swatch.name_of_color.value | handle | split: '-' | first }} {
                    background-image: url({{ special_color_swatch.special_color.value | img_url: 'master' }}); 
                  }
                {%- endfor -%}
              {%- endpaginate -%}
            {%- endif -%}
          {%- endfor -%}
        {% endpaginate %}
      {%- endif -%}
      
      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}
        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        background-color: rgb(var(--color-background));
      }


      :root {
        --font-body-family: "nimbus-sans", sans-serif;
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-body-family: "nimbus-sans", sans-serif;
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;

      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.563;
        font-family: "nimbus-sans", sans-serif;
        font-weight: 300;
      }
    {% endstyle %}
    {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-card.css' | asset_url | stylesheet_tag }}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    <script src='https://a.klaviyo.com/media/js/onsite/onsite.js' type="text/javascript"></script>
    <script type="text/javascript">
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: 'Ji9Nqq',
        list: 'L9aUn4',
        platform: 'shopify'
      });
      klaviyo.enable('backinstock', {
        trigger: {
          product_page_text: 'Join the Waitlist',
          product_page_class: 'btn',
          product_page_text_align: 'center',
          product_page_margin: '0px',
          replace_anchor: false
        },
        modal: {
          headline: '{product_name}',
          body_content: "We’ll send you a helpful heads up when it’s time to hustle back here and grab one (or&nbsp;two).",
          button_label: "CAN’T WAIT ->",
          subscription_success_label: "BRB. Making more underthings for you.&nbsp;&nbsp;&nbsp;",
          footer_content: '',
          additional_styles: "@import url({{ 'base.css' | asset_url }});",
          drop_background_color: '#000',
          background_color: '#fff',
          text_color: '#222',
          button_text_color: '#fff',
          button_background_color: '#000',
          close_button_color: '#ccc',
          error_background_color: '#fcd6d7',
          error_text_color: '#C72E2F',
          success_background_color: '#fff',
          success_text_color: '#000'
        }
      });
      </script>
    {% render "globale-js" %} 
    <!--begin-boost-pfs-filter-css-->
       {% render 'boost-pfs-style' %}
     <!--end-boost-pfs-filter-css-->
  
  {% include "globale-js" %}
  {% if customer %}
    <script>
        let isNewCustomer = 0 ;
       {% if customer.orders_count > 1 %}
              isNewCustomer = 1;
       {% endif %}
       window.isNewCustomer = isNewCustomer; 
    </script>
  {% endif %}
  {{ 'tools.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
  {% liquid
    assign bodyID = page_title | remove: '’' | handle | remove: '-amp' | remove: '-for-women' | remove: '-negative-underwear' | remove: '-39-' | remove: '-high-quality' | remove: 'womens-' | remove: '-negative' | remove: 'briefs-thongs-' | remove: 'best-selling-' | remove: '-underwear'
    
    if page_title contains "Collection" or page_title == "Silky" or page_title == "Coral" or page_title == "Base Layers" or page_title contains "Best Sellers" or page_title == "Whipped" or page_title contains "Lounge" or page_title contains "New Arrivals" or page_title == "All" or page_title contains "Last Chance"
      assign bodyID = "mixed"
    elsif page_title == "Non-Wire Bras" or page_title == "Wireless Bras"
      assign bodyID = "bras"
    elsif page_title == "Whipped Bottoms"
      assign bodyID = "bottoms"
    elsif page_title contains "Gift Guide"
      assign bodyID = "gift-guide"
    endif
    
    if page_title contains "Glacé"
      assign bodyID = "glace"
    endif
    if bodyID == "bikini-briefs-briefs" or bodyID contains "boxers" or bodyID contains "thongs-and-briefs" or bodyID contains "bodysuits"
      assign bodyID = "underwear"
    endif
    if bodyID contains "nursing" or bodyID contains "sporty"
      assign bodyID = "bras"
    endif
    if page_title contains "Best Selling " or bodyID contains "supreme-" or bodyID contains "camisole" or bodyID contains "tees-tops" or bodyID contains "long-sleeve" or page_title contains "Whipped Tops" or page_title contains "Whipped Bottoms" or page_title contains "Whipped Slip" or page_title contains "Swim" or page_title == "Cover Ups"
      assign bodyID = "nosize"
    endif
  %}
{% capture bodyClass %}
  {% if current_tags %}
    tag-{{ current_tags | handleize }}
  {% endif %}
  {% if customer %}
    customer-logged-in
  {% endif %}
  {% if template contains 'index' %}
    template-index
  {% else %}
    template-{{ template | replace: '.', ' ' | replace: 'all-sets', 'all-kits' | truncatewords: 1, '' | handle | remove: '-c' }} 
    template-{{ template | handleize | replace: 'all-sets', 'all-kits' | remove: '-qty' }}
  {% endif %}
  {% if template contains "build-a-set" %}
    template-collection-kit
  {% endif %}
  {% if template contains "whipped" or template contains "sieve" %}
    template-page-motherhood
  {% endif %}
  {% if template contains "bras" or template contains "why-negative" %}
    template-landing
  {% endif %}
  {% if template contains "pack-twosizes" %}
    template-product-pack
  {% endif %}
  {% if template contains 'article' %}
    {% if blog.handle contains "iamformyself" or blog.handle == "just-enough" %}
      blog-iamformyself
    {% else %}
      blog-{{ blog.handle }}
    {% endif %}
  {% endif %}
  {% if collection.title contains "Last Chance" %}
    last-chance
  {% endif %}
{% endcapture %}
  <body id="{{ bodyID }}" class="gradient {% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %} {{ page.title | replace: ' ', '-' | downcase | remove: "+" }} {{ bodyClass}}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none is-moved-by-drawer" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    <script src="{{ 'tools.js' | asset_url }}" async></script>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
        chooseASize: `{{ 'products.product.choose_a_size' | t }}`, 
        customSelect: `{{ 'products.product.select' | t }}`
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      };

      {% if settings.product_buy_enable == true and settings.product_buy != blank %}
        {% assign product_buy_x_get_y =  settings.product_buy %}
        window.buyXgetY = {
          productY: {{ product_buy_x_get_y.selected_or_first_available_variant.id }}
          {% if settings.product_y_limit != blank %}
            ,limitProductY: {{ settings.product_y_limit }}
          {% endif %}
        };
      {% endif %}
      {% if settings.product_get_enable == true and settings.product_spend != blank and settings.product_spend_value != blank%}
          {% assign product_spend =  settings.product_spend %}
          window.spendXgetY = {
            productSpend: {{ product_spend.selected_or_first_available_variant.id }},
            priceSpend: {{ settings.product_spend_value }}
          };
      {% endif %}

    </script>
    {% render 'ajax-cart-template' %}
    <script src="{{ 'ajax-cart.js' | asset_url }}" defer="defer"></script>
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '.AddToCart',
          enableQtySelectors: true,
          moneyFormat: {{ shop.money_format | json }},
        });
      });
    </script>
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <!-- rebuy slim -->
  {{ 'rebuy-slim.css' | asset_url | stylesheet_tag }}
  <script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?assets=javascript&shop={{ shop.permanent_domain }}"></script>
{% unless product.available == false %}
  {% render 'afterpay' %}
{% endunless %}
    <!--begin-boost-pfs-js-->
    {% if settings.rebuy_additional.size > 0 %}
      <!-- additional rebuy code -->		
      <div data-rebuy-id="{{ settings.rebuy_additional }}"></div>
    {% endif %}
   {% render 'boost-pfs' %}
 <!--end-boost-pfs-js-->

    <!-- loop returns -->
<script src="https://unpkg.com/@loophq/onstore-sdk@latest/dist/loop-onstore-sdk.js"></script>
<script> 
	LoopOnstore.init({ 
		key: "0701789d9fc57c2dbd403ff627781722273ae4d8", 
		attach: ".cart__checkout",
		full: true
	});
</script>


{% assign google_conversion_id = 966624746 %}
{% assign shopify_store_country  = 'US' %}

<script type="text/javascript">
  
    {% if template contains 'cart' %}
	var google_tag_params = {
  		ecomm_prodid: [{% for item in cart.items %}'shopify_{{ shopify_store_country  }}_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
  		ecomm_pagetype: 'cart',
  		ecomm_totalvalue: {{ cart.total_price | money_without_currency  | remove: ','  }}
	};
  
  {% elsif template contains 'collection' %}
	var google_tag_params = {
  		ecomm_prodid: [{% for item in collection.products limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
  		ecomm_pagetype: 'category',
  		ecomm_category: '{{ collection.handle }}'
	};
  
  {% elsif template contains 'index' %}
	var google_tag_params = {
  		ecomm_pagetype: 'home'
	};
  
  {% elsif template contains 'product' %}
	var google_tag_params = {
      ecomm_prodid: 'shopify_{{ shopify_store_country  }}_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
  		ecomm_pagetype: 'product',
  		ecomm_totalvalue: {{ product.selected_or_first_available_variant.price | money_without_currency  | remove: ','  }}
	};
  
  {% elsif template contains 'search' %}
	var google_tag_params = {
  		ecomm_prodid: [{% for item in search.results limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
  		ecomm_pagetype: 'searchresults'
	};
  {% else %}
	var google_tag_params = {
  		ecomm_pagetype: 'other'
	};
  
  {% endif %}

	/* <![CDATA[ */
	var google_conversion_id = {{ google_conversion_id }};
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script defer type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<!-- end google remarketing -->  

  <!-- Accessibility Code for "www.negativeunderwear.com" -->
  <script>
    window.interdeal = {
        "sitekey": "4ebada458cfe8637300daa471e9d7c3c",
        "Position": "Left",
        "Menulang": "EN",
        "domains": {
            "js": "https://cdn.equalweb.com/",
            "acc": "https://access.equalweb.com/"
        },
        "btnStyle": {
            "vPosition": [
                "80%",
                null
            ],
            "scale": [
                "0.5",
                "0.5"
            ],
            "color": {
                "main": "#000000",
                "second": ""
            },
            "icon": {
                "type": 11,
                "shape": "circle",
                "outline": true
            }
        }
    };
    (function(doc, head, body){
    	var coreCall             = doc.createElement('script');
    	coreCall.src             = interdeal.domains.js + 'core/4.6.1/accessibility.js';
    	coreCall.defer           = true;
    	coreCall.integrity       = 'sha512-aAp5m6pQO8f6HIIF3V/7pXeoo9/VWZTij6e6vH0KoI8PJCEN4EVKvslxF8elAIMTd1znMDg0qwrelAJfDOu6KA==';
    	coreCall.crossOrigin     = 'anonymous';
    	coreCall.setAttribute('data-cfasync', true );
    	body? body.appendChild(coreCall) : head.appendChild(coreCall);
    })(document, document.head, document.body);
    </script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZ8LNXPJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <script defer src="https://static.shopmy.us/Affiliates/sms_aff_clicktrack.js"></script>
  </body>
</html>
