<!-- collection.packs.liquid -->
{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 60 %}

{% assign collectionTitle = collection.title %}
{% assign ct = current_tags | handleize %}
<!-- CT: {{ ct }} -->
{% if ct contains 'non-wire' and ct contains 'sieve' %}
	{% assign collectionTitle = "Sieve Non-Wire Bras" %}
{% elsif ct contains 'non-wire' and ct contains 'silky' %}
	{% assign collectionTitle = "Silky Non-Wire Bras" %}
{% elsif ct contains 'non-wire' %}
	{% assign collectionTitle = "Non-Wire Bras" %}
{% elsif ct contains 'high-waist-briefs' %}
	{% assign collectionTitle = "High-Waist Briefs" %}
{% elsif ct contains 'briefs' %}
	{% assign collectionTitle = "Briefs" %}
{% elsif ct contains 'thongs' %}
	{% assign collectionTitle = "Thongs" %}
{% elsif ct contains 'underwire' %}
	{% assign collectionTitle = "Underwire Bras" %}
{% endif %}

{% assign showExtraText = false %}

{% if collection.description contains "===" %}
	{% assign showExtraText = true %}
{% endif %}

    <div class="text-center large--hide section-header">
      <h2 class="h1">{{ collectionTitle }}</h2>
      {% if collection.description != blank %}
      <div class="grid">
        <div class="grid__item">
          <div class="rte">
            {{ collection.description | remove: ' data-mce-fragment="1"' | remove: '<span>' | remove: '</span>' | split: '<p>===' | first }}
          </div>
        </div> 
      </div>
      {% endif %}
    </div>

  {% assign grid_item_width = 'small--one-half medium--one-half large--one-third' %}

  {% assign product_found = false %}
  {% assign skip = false %}

  <div class="grid-uniform content">
    <div class="grid__item text-center small--hide medium--hide large--one-third section-header">
      <h1>{{ collectionTitle }}</h1>
      {% if collection.description != blank %}
      <div class="grid">
        <div class="grid__item">
          <div class="rte">
            {{ collection.description | remove: ' data-mce-fragment="1"' | remove: '<span>' | remove: '</span>' | split: '<p>===' | first }}
          </div>
        </div> 
      </div>
      {% endif %}
    </div>
    {% for product in collection.products %}
		{% include 'product-grid-item-pack' %}
    {% endfor %}
	
	{% if showExtraText %}
		<div class="grid__item text-center one-whole extra-text">
			<div class="padded">
				<div class="content hide-content">
					{{ collection.description | split: '===' | last | remove_first: '</p>' | remove: '<p><br></p>' | remove: '<p>&nbsp;</p>' | remove: 'target="_blank"' }}
				</div>
				<p class="show-more"><a href="#">+ more</a></p>
			</div>
		</div>
	{% endif %}

  </div>

  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
    </div>
  {% endif %}

{% endpaginate %}
